.gp-section-wrap{
background:#f3f3f3;
padding:60px 0;
}

.gp-main-title{
font-size:32px;
font-weight:700;
margin-bottom:25px;
}

.gp-text{
font-size:14.5px;
line-height:1.8;
color:#333;
margin-bottom:18px;
}

.gp-highlight-link{
color:#e53935;
text-decoration:none;
}

.gp-highlight-link:hover{
text-decoration:underline;
}
.book-btn1{
background:#ff3c3c;
color:#fff;
padding:10px 25px;
border-radius:5px;
font-weight:600;

}

.book-btn1:hover{
background:#d60000;
color:#fff;
}
/* NAVBAR */
.navbar{
position:fixed;
width:100%;
top:0;
left:0;
z-index:999;
transition:0.4s;
background:transparent;
padding:20px 50px;
height:80px;

}

/* Scroll background */
.navbar.scrolled{
background:black;
}

/* Logo */
.logo{
color:white;

text-decoration:none;
}
.logo img{
height:70px;
}

/* Nav links */
.nav-link{
color:white !important;
font-size:22px;
margin:0 15px;
font-weight:500;
}

/* Book button */
.book-btn{
background:#ff3b3b;
color:white;
padding:10px 25px;
border-radius:6px;
text-decoration:none;
font-weight:500;
margin-top:8px;
margin-left: 100px;
}

/* Mobile menu */

@media(max-width:991px){

.navbar-collapse{

position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
background:rgb(27, 27, 27);
color:white;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;

}

.nav-link{

font-size:22px;
margin:15px 0;

}

.book-btn{

margin-top:20px;
margin-left: 20px;

}

}

/* Toggle button */
.navbar-toggler{

border:none;
font-size:28px;
color:rgb(244, 6, 6);

}
.navbar-toggler i{
color:white;
font-size:30px;
}
.booking-modal{

border-radius:15px;
padding:10px;

}

.booking-modal input{

height:45px;
border-radius:8px;

}

.book-submit{

background:#ff3b3b;
color:white;
padding:10px;
border-radius:8px;
border:none;

}













